.hero-card {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  text-align: center;
}

.hero-card-headline {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.hero-card-text {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.hero-card-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  button {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    min-width: 10rem;
  }
}