.footer-container{
    align-items: center;
    background-color: var(--background);
    color: var(--foreground);
}
.footer-title-container {
    display: flex;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
    height: 11vh;
}
.footer-title {
    color: rgb(0, 0, 0);
}
.footer-caption{
    font-size: 1rem;
    padding-left: 4vw;
    padding-right: 4vw;
    color: rgb(0, 0, 0);
}
.footer-layout {
    display: flex;
    align-items: center;
    // 横幅が700px以下のときは縦に並べる
    @media (max-width: 700px) {
        flex-direction: column;
    }
}