// --------------------
// SCSS Variables
// --------------------
$color-white: #fff;
$color-gradient-start: #6a11cb;
$color-gradient-end: #2575fc;
$color-headline: #4d79e7;
$transition-default: 0.6s ease-in-out;

/* 全体コンテナ */
.container {
  background-color: $color-white;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 20px auto;
}

/* フォーム配置 */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all $transition-default;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 0;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 0;
  transform: translateX(100%);
}

/* overlay */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform $transition-default;
  z-index: 100;
}

.overlay {
  background: linear-gradient(
    to right,
    $color-gradient-start,
    $color-gradient-end
  );
  color: $color-white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform $transition-default;
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform $transition-default;
}

.overlay-left {
  transform: translateX(-20%);
  padding: 6%;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
  padding: 6%;
}

/* active class */
.container.right-panel-active .sign-in-container {
  z-index: 0;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 0;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
  z-index: 0;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
  text-align: center;
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* 入力欄 */
input {
  margin: 8px 0;
}

.text--headline {
  text-align: center;
  color: $color-headline;
}
