.container{
    width: 1512px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #29ba96;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.header-bttons{
    width: 1512px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #29ba96;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}